*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    background-color: aquamarine;
    padding: 1rem;
    /* Flexbox */
    display: flex;
    /* for x-axis (horizontal axis) */
    justify-content: start;
    justify-content: center;
    justify-content: end;
    justify-content: space-between;
    justify-content: space-evenly;
    justify-content: space-around;
    /* for y-axis (vertical axis)*/
    align-items: start;
    align-items: center;
    align-items: end;
    /* for flexbox direction */
    flex-direction: row;
    flex-direction: row-reverse;
    flex-direction: column;
    flex-direction: column-reverse;
    /* for wrapping */
    flex-wrap: nowrap;
    flex-wrap: wrap;
    flex-wrap: wrap-reverse;
    



    /* spont code */
    justify-content: start;
    align-items: start;
    flex-direction: row;

    /* flex-direction: column; */


}

.box{
    color: purple;
    font-weight: bold;
    border: 3px solid purple;
    margin: .3rem;
    padding: 1rem ;
    background-color: plum;
    border-radius: .5rem;
    width: 100px;
    height: 100px;
}
