.body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.back-img{
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 984px;
    position: relative;
    /* left: -300px; */
    top: 0px;
}

.brown-header {
    background-color: #3f271e;
    position: fixed;
    width: 100%;
    height: 20px;
    color: white;
    padding: 20px 20px;
    gap: 10x;
    top: 0;
    left: 0;
}

.header-content {
    font-family: sans-serif;
    font-size: 0.9rem;
    display: flex;
    justify-content: left;
    align-items: center; 
    padding-left: 8%;
    margin-top: 0.2%;
    gap: 10px; 
}

.header-social{
    margin-left: 57%;
}

.fb{
    font-size: 18px;
}
.insta{
    margin-left: 20px;
    font-size: 18px;
}
.twitter{
    margin-left: 20px;
    font-size: 18px;
}
.youtube{
    margin-left: 20px;
    font-size: 18px;
}


.second-header{
    background-color: #020202bd;
    width: 100%;
    padding: 10px 20px;
    margin-top: 1%;
    margin-right: 0%;
    display: flex;
    align-items: center;
    gap: 40px;
}
.logo-area{
    margin: 10px 0 0 7%;
}
.navigation ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    float: right;
    gap: 70px;
}
ul{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
ul li a{
    text-decoration: none;
    color: white;
}
