*{
    margin: 0px;
    padding: 0px;
    box-sizing: 0px;
}
/* body{
    background-color: rgba(6, 243, 85, 0.795);
} */
 /*  ===========================================================================================================
                     ============================= Navbar section  Start ================================
    ===========================================================================================================               */
#navbar {
    background-color: rgb(223 207 207);
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border-radius: 15px;
     margin: 6px;
    padding: 6px; */ 
    
}

#navbranding {
    padding: 5px;
display: flex;
align-items: center;
color: rgb(0, 0, 0);
}
#navbranding  img {
    width: 70px;
    height: 70px;
    margin-right: 10px;

}

.navul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.navul li {
    list-style: none;
    display: flex; 
    align-items: center;
    
}
.navul li :hover {
    background-color: rgb(255, 255, 255);
    color: rgb(247, 81, 164);
    font-weight: bold;
    border-bottom: 2px solid black;
}
.navul li a:active {
    color: red;
    font-style: italic;
}
.navul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 10px;
    padding-left: 10px;
   cursor:pointer;
}
.navul li img {
    padding: 8px;
}
/*  ===========================================================================================================
                     ============================= Navbar section  End ================================
    ===========================================================================================================     
    */

    /*  ===========================================================================================================
                     ============================= Hero Section section  Start ================================
    ===========================================================================================================     
    */

#hero-section {
    width: 100vw;
    height: 70vh;
    /* background-color: palegoldenrod; */
    padding: 15px 20px;
    background-image:url(pics/amazon-mobile.jpg);
background-size: cover;

}
.hero-heading_P{
width: 50%;
height: 20vh;
/* background-color: aliceblue; */
padding: 20px;
}
.hero-heading{
    /* padding-top: 20px; */
    padding-bottom:20px ;
    font-size:35px;
}
.hero-section-p{
    font-size: larger;
    padding-top: 8px;
}
#hero-social-icon{
    width: 100px;
    height: 100px;
    
    margin-left: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.hero-social-all {
    background-color: rgb(255, 252, 252);
    border-radius: 15%;
    margin-right: 10px;
    margin-top: 10px;

}

.hero-btn{
    display: flex;
   padding-right: 15px;
   margin-top: 20px;
   font-size: larger;
}
#hero-prime-cta{
    padding: 8px;
    margin-right: 10px;
    font-size: large;
    border-radius: 8px;
    border-style: none;
    background-color: rgb(18 18 18);
    color: white;
}
#hero-secondary-cta{
    padding: 8px;
    margin-right: 10px;
    font-size: large;
    border-style: none;
    border-radius: 8px;  

}
  #hero-prime-cta:hover, #hero-secondary-cta:hover {
    box-shadow: 5px 5px 2px rgba(154, 156, 154, 0.8);
    font-size: 19px;
    border-radius:8px;
    background-color: rgb(241, 162, 14);
}