@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* global variable */

:root{
    --primary-color: #f07167;
    --secondary-color: #00afb9;
    --secondary-color-light: #a4e7eb;
    --light-color: #ececec;
}


/* utility classes */
.space-1 {
    margin: 2rem 1rem;
}

.space-2{
    margin: 1rem 0rem;
}
.space-3{
    margin: .4rem 0rem;
}
.d-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}



.bg-primary{
    background-color: var(--primary-color);
}
.bg-secondary{
    background-color: var(--secondary-color);
}


